.store-wrapper {
    display: flex;
}

.category_list {
    display: flex;
    flex-direction: column;
    width: 10%;
}

.espacioizq {
    margin-left: 3em;
}

.espacioder {
    margin: auto;
    float: right;
    clear: both;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

.disqus-container {
    margin: auto;
    width: 85%;
    padding: 20px;
    background-color: rgba(202, 30, 30, 0.8);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fechacrea{
    display: flex;
    
}

.small-accordion .accordion-button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}

.small-accordion .accordion-body {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
}