.store-wrapper {
    display: flex;
}

.category_list {
    display: flex;
    flex-direction: column;
    width: 10%;
}

.espacioizq {
    margin-left: 3em;
}

.espacioder {
    margin: auto;
    float: right;
    clear: both;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

  .custom-btn {
    width: 200px; /* Puedes ajustar el ancho según tus necesidades */
    margin: 5px 0;
  }

  .container {
    display: flex; /* Utilizamos flexbox para alinear los divs */
  }
  
  .box {
    width: 50%; /* Establecemos el ancho de cada div al 50% para que estén uno al lado del otro */
    height: 200px; /* Establece la altura deseada para los divs */
    background-color: #ccc; /* Establece un color de fondo para los divs (puedes personalizarlo según tus necesidades) */
  }
  
  